<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Rules List</h2>
          <div class="panel-body">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchRulesList" autocomplete="off" placeholder="&#61442;  Start searching " (ngModelChange)="p=1;">
            </div>
          </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>RuleName</th>
                  <th>ProgramName</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rule of ruleList | filter:searchRulesList | paginate: { itemsPerPage: 5, currentPage: p }">
                  <td>{{rule.ruleName}}</td>
                  
                  <td>
                    <!-- <ng-container *ngFor="let pl of programList">
                      <ng-template [ngIf]="pl.id==rule.programId">
                        {{pl.name}}
                      </ng-template>
                    </ng-container> -->
                    {{rule.programName}}
                  </td>

                  <td>
                    <button (click)="updateRule(rule.ruleId)" class="btn" style="margin-left: 10px" *ngIf="!readRole"><i class="fa fa-edit fa-2x" style="color: #1fc1f7;" title="Update"></i></button>
                    <button (click)="ruleDetails(rule.ruleId)" class="btn" style="margin-left: 10px"><i class="fa fa fa-eye fa-2x" style="color: #1fad3c;" title="View"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button (click)="ruleAdd()" class="btn btn-success" *ngIf="!readRole">Add</button>
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>