/*   new css here     */


/* .container {
padding-top: 50px;
padding-bottom: 10px;
color: #405065;
} */


/* #brandcolor th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #438494;
color: white;
} */
.fa-file-excel-o{
    font-size: 35px;
    color: green;
    margin-bottom: 3px;
}
td {
    height: 50px;
    width: 350px !important;
}

#cssTable td {
    text-align: center;
    vertical-align: middle;
}
.pointer {
    cursor: pointer;
}
.search-hero {
    max-width: 500px;
    padding-bottom: 5px;
    margin: auto;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

.invalid {
    color: red;
    text-align: justify;
}

.tooltip {
    /* background-color: red; */
    font-size: 20px;
}

::ng-deep .myCustomModalClass .modal-dialog {
    max-width: 90%;
    width: 90%;
}

.fa-file-pdf-o {
    /* font-size: 50px; */
    color: red;
}

.fa-file-excel-o {
    /* font-size: 50px; */
    color: green;
}

.wordBreak {
    /* word-break:break-all */
    white-space: nowrap;
}

.tooltip-example-t {
    /* position: absolute;
top: 5px;
right: 5px; */
}

.tooltip-text-t {
    position: relative;
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    bottom: 5px !important;
    left: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000 !important;
    font-weight: 800;
    z-index: 1;
    visibility: hidden;
    opacity: 1;
    font-size: 14px;
    /* width: 150px; */
    height: 0px;
}

.tooltip-text-t ul li {
    color: #FFF;
}

.tooltip-text-t::after {
    content: "";
    position: relative;
    /* width:10px; */
    /* height: 10px; */
    top: 0px !important;
    /* background-color:rgb(0, 0, 0); */
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 9999;
    right: 5px !important;
}

.tooltip-example-t:hover .tooltip-text-t {
    visibility: visible;
    opacity: 1;
    width: 150px;
    height: 50px;
}

.action-slide-button {
    position: fixed;
    top: 130px;
    right: 44%;
    z-index: 999;
}

.action-slide {
    position: fixed;
    top: 20%;
    right: 0%;
    background-color: #fff;
    /* width: 90%; */
    z-index: 999;
    border-radius: 15px;
    /* opacity: 0.1; */
    border: 3px solid #1976d2;
    font-size: 12px;
    padding: 10px;
}


/* width */

.action-slide::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

.action-slide::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.action-slide::-webkit-scrollbar-thumb {
    background: skyblue;
}


/* Handle on hover */

.action-slide::-webkit-scrollbar-thumb:hover {
    background: skyblue;
}

.utility {
    position: fixed;
    top: 10%;
    left: 50%;
    background-color: #fff;
    /* width: 33%; */
    z-index: 999;
    border-radius: 15px;
    /* opacity: 0.1; */
    border: 3px solid #1976d2;
    font-size: 12px;
    padding: 10px;
}

.utility-activity {
    position: fixed;
    top: 200px;
    right: 50px;
    background-color: #fff;
    /* width: 40%; */
    z-index: 999;
    border-radius: 15px;
    /* opacity: 0.1; */
    border: 3px solid #1976d2;
    font-size: 12px;
    padding: 10px;
}

.drag-icon {
    position: absolute;
    top: -50%;
    left: -15%;
}

.pointer {
    cursor: pointer;
}

.fa-times-circle {
    color: red;
}

    .inputBox{
        width: 200px;
    }
    .btn {
    border-radius: 0.25rem !important;
    border:0px none;
    }
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1fad3c !important;
    border:0px none;
    }
    
    .nav-pills .nav-link{
    border:0px none;
    }
    
    .ngx-pagination a:hover, .ngx-pagination button:hover {
    border-color: #dee2e6;
    border: 1px solid #dee2e6;
    }
    
    .ngx-pagination .disabled {
    border-color: #dee2e6;
    border: 1px solid #dee2e6;
    }
    
    .ngx-pagination li {
    border: 1px solid #dee2e6;
    border-radius: 3px;
    }
    
    .btn-danger {
    background-color: #bb2d3b;
    border-color: #b02a37;
    }

    .pagination span {
        border: 1px solid #dee2e6 !important;
        border-radius: 3px !important;
        /* margin : 2px; */
        cursor: pointer;
    }
    
    .pagination {
        margin-top: 20px;
    }
   
    
    #prev, #next {
        color: #1adf83;
    }
    
    #currpage {
        width:5px;
        background-color: #1fad3c;
    }
   .search-hero{
    max-width: 500px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
   }