<ng-template #addBankDetailspop let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="message" style="color: red; text-align: center;">{{message}}</div>




        <div *ngIf="stage == 1" class="detail-add-style">

            <div class="form-group">
                <label for="orgName">
                    <font style="color: red;">*</font>Organization
                </label>
                <input #org2 (keyup)="0" matInput aria-label="customer" [matAutocomplete]="orglist2"
                    class="form-control" [formControl]="orgCtrl2">
                <mat-autocomplete #orglist2="matAutocomplete" class="mat-int">
                    <mat-option (onSelectionChange)="org.value !=undefined" *ngFor="let org of filteredOrg2| async"
                        [value]="org.orgName">
                        <span>{{org.info}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>

        </div>

        <div *ngIf="stage == 2">

            <div class="form-group">
                <label for="bankId">
                    <font style="color: red;">*</font>Bank Name
                </label>
                <div class="input-group box-size">
                    <select id="bankId" name="bankId" class="form-control" [(ngModel)]="bankId">
                        <option></option>
                        <option *ngFor="let b of bankName" [value]="b.bankId">{{b.bankName}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="accountNo">
                    <font style="color: red;">*</font>Bank Account No
                </label>
                <div class="input-group box-size">
                    <input type="text" id="accountNo" name="accountNo" class="form-control"
                        style="text-transform: uppercase;" [(ngModel)]="accountNo">
                </div>
            </div>
            <div class="form-group">
                <label for="accountType">
                    <font style="color: red;">*</font>Bank Account Type
                </label>
                <div class="input-group box-size">
                    <select id="accountType" name="accountType" class="form-control" [(ngModel)]="accountTypeId">
                        <option *ngFor="let a of accountType" [value]="a.accId">{{a.accName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="accountHolderName">
                    <font style="color: red;">*</font>Account Holder Name
                </label>
                <div class="input-group box-size">
                    <input type="text" id="accountHolderName" name="accountHolderName" class="form-control"
                        [(ngModel)]="accountHolderName">
                </div>
            </div>
            <div class="form-group">
                <label for="ifscCode">
                    <font style="color: red;">*</font>IFSC Code
                </label>
                <div class="input-group box-size">
                    <input type="text" id="ifscCode" name="ifscCode" class="form-control"
                        style="text-transform: uppercase;" [(ngModel)]="IFSCCode" maxlength="11">
                </div>
            </div>

        </div>

        <div *ngIf="stage == 3">

            <div class="form-group">
                <label for="beneId">
                    <font style="color: red;">*</font>Beneficiary Id
                </label>
                <div class="input-group box-size">
                    <input type="text" id="beneId" name="beneId" class="form-control" [(ngModel)]="beneId"
                        maxlength="25" (keypress)="alphanumkeyPress($event)">
                </div>
            </div>
            <div class="form-group">
                <label for="beneId">
                    <font style="color: red;">*</font>Beneficiary Name
                </label>
                <div class="input-group box-size">
                    <input type="text" id="beneName" name="beneName" class="form-control" [(ngModel)]="beneName"
                        (keypress)="alphanumkeyPress($event)">
                </div>
            </div>
            <div class="form-group">
                <label for="beneId">
                    <font style="color: red;">*</font>Beneficiary Mobile
                </label>
                <div class="input-group box-size">
                    <input type="text" id="beneMobile" name="beneMobile" class="form-control" [(ngModel)]="beneMobile"
                        (keypress)="keyPress($event)" maxlength="10">
                </div>
            </div>
            <div class="form-group">
                <label for="beneId">
                    <font style="color: red;">*</font>Beneficiary Mail
                </label>
                <div class="input-group box-size">
                    <input type="text" id="beneMail" name="beneMail" class="form-control" [(ngModel)]="beneMail">
                </div>
            </div>

            <div class="form-group">
                <label for="beneDoc">
                    Upload Document
                </label>
                <div class="input-group box-size">
                    <input type="file" id="beneDoc" name="beneDoc" class="form-control"
                        (change)="uploadfilearray($event.target.files)" accept="application/pdf, image/jpeg">
                    <div *ngIf="Doc && !addNew">
                        <button class="btn btn-link" (click)="document(1)">View</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="add()">{{stage != 3 ? 'Next' : 'Save'}}</button>
    </div>
</ng-template>

<ng-template #statusPopup let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                        <th>Beneficiary Name</th>
                        <th>Bank Name</th>
                        <th>Bank Account Number</th>
                    </thead>
                    <tbody>
                        <td>{{changeObj.beneName}}</td>
                        <td>{{changeObj.bankName}}</td>
                        <td>{{changeObj.accountNo}}</td>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-2 justify-content-center">
            <div class="col-3"><button class="btn btn-success" (click)="statuschange(1)">Approve</button></div>
            <div class="col-3"><button class="btn btn-danger" (click)="statuschange(2)">Reject</button></div>
            <div class="col-3"><button class="btn btn-primary" (click)="statuschange(3)">Refer Back</button></div>
        </div>

    </div>

</ng-template>

<div class="fin-card mt-20 clearfix">
    <div class="clearfix fin-heading">Beneficiary Details <button type="button" class="btn btn-info btn-sm fin-btn"
            (click)="openPopup(addBankDetailspop)" style="background-color: #000080 !important;"><i
                class="fas fa-plus-circle"></i> Add Beneficary</button></div>
    <div class="table-responsive mt-10">
        <table class="table fin-table-green nowrap">
            <tbody>
                <tr>
                    <td style="border-bottom:0px none;">
                        <input type="text" placeholder="Search here...." #org1 (keyup)="0" matInput
                            aria-label="customer" [matAutocomplete]="orglist1" class="form-control"
                            [formControl]="orgCtrl1">
                        <mat-autocomplete #orglist1="matAutocomplete">
                            <mat-option (onSelectionChange)="org.value !=undefined"
                                *ngFor="let org of filteredOrg1| async" [value]="org.orgName">
                                <span>{{org.info}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </td>
                    <td style="border-bottom:0px none;">
                        <select class="form-select" [(ngModel)]="status">
                            <option value="all">---All---</option>
                            <option value="1">Approved</option>
                            <option value="0">Pending</option>
                            <option value="2">Rejected</option>
                            <option value="3">Refer Back</option>
                        </select>
                    </td>
                    <td style="border-bottom:0px none;"><button type="button" class="btn btn-info fin-btn"
                            (click)="listrender1()"><i class="fas fa-search"></i> Search</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="fin-row mt-20">
    <div class="fin-card">
        <div class="table-responsive mt-10">
            <table class="table table-striped table-bordered fin-table-blue fin-custom-table reset-span">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Organization Name</th>
                        <th>Bank Details</th>
                        <th>Beneficiary Details</th>
                        <th>Document</th>
                        <th *ngIf="roleId != 20">Status</th>
                        <th *ngIf="roleId != 20">Action</th>
                        <th *ngIf="roleId != 20">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="beneList.length == 0" class="text-center">
                        <td colspan="13" style="color: red;">No Data Available</td>
                    </tr>
                    <tr
                        *ngFor="let a of beneList | filter: searchList | paginate: { itemsPerPage: p1, currentPage: p }; let i = index">
                        <td>{{((p-1)*p1)+i+1}}</td>
                        <td>{{a.orgName}}</td>
                        <td class="fin-mulitple">
                            <span>Name - <b>{{a.bankName}}</b></span>
                            <span>Account No. - <b>{{a.accountNo}}</b></span>
                            <span>Account Type - <b>{{a.accType}}</b></span>
                            <span>Account holder - <b>{{a.bankAccountHolderName}}</b></span>
                            <span>IFSCCODE - <b>{{a.ifscCode}}</b></span>
                        </td>
                        <td class="fin-mulitple">
                            <span>Name - <b>{{a.beneName}}</b></span>
                            <span>ID - <b>{{a.beneId}}</b></span>
                            <span>Mobile - <b>{{a.beneMobile}}</b></span>
                            <span>E-mail - <b>{{a.beneMail}}</b></span>
                        </td>
                        <td>
                            <div *ngIf="a.document != '' && a.document !=null">
                                <button type="button" class="btn btn-info btn-sm fin-btn" 
                                (click)="document(a.document)"><i class="far fa-eye"></i> View</button>
                            </div>
                            <div *ngIf="a.document == '' && a.document ==null"><img
                                src="assets/images/icons/disable.png" style="width: 30px; height:30px;"></div>
                            </td>
                        <td *ngIf="roleId != 20">{{a.approvedStatus}}</td>
                        <td *ngIf="roleId != 20">
                            <div *ngIf="((a.approvedStatus != 'Approved' && a.approvedStatus != 'Rejected' )  || roleId==1)&&!readRole"><button
                                    type="button" class="btn btn-danger btn-sm fin-btn"
                                    (click)="statuschangepopup(statusPopup,a)"><i class="far fa-edit"></i> Change
                                    Status</button>
                            </div>
                            <div *ngIf="a.approvedStatus == 'Approved' || a.approvedStatus == 'Rejected' || roleId!=1 "><img
                                    src="assets/images/icons/disable.png" style="width: 30px; height:30px;"></div>
                        </td>
                        <td *ngIf="roleId != 20">
                            <div
                                *ngIf="(a.approvedStatus == 'Refer Back'|| a.approvedStatus == 'Approval Pending') && !readRole">
                                <i class="fa fa-pencil pointer" aria-hidden="true" style='font-size:24px' (click)="edit(a,addBankDetailspop)"></i>
                            </div>
                            <div *ngIf="a.approvedStatus == 'Approved'|| a.approvedStatus == 'Rejected' ;">
                                <img src="assets/images/icons/disable.png" style="width: 30px; height:30px;"></div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <!-- <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                  
                </nav> -->
        </div>
        <!-- <div class="fin-bottom-btn"><button type="button" class="btn btn-success fin-btn"><i class="fas fa-upload"></i>Upload</button></div> -->
    </div>
</div>