<div class="card" style="margin-top:30px">
    <div class="card-mb-5" style=" height: 140px;">
        <div class="col" style="text-align: center;  font-size: 25px;">
            <img src="assets/images/users/finagglogo.png" alt="user" width="100" height="100">
     
        </div>
    </div>
    <div class="card">
        <h3>GST ACCESS TUTORIAL</h3>
        <p>Step 1</p><br>
        <p>1.Login to GST portal using username and password</p><br>
        <p>2.Go to my profile</p><br>
        <p>2.Then go to Manage API Access on the left side menu</p><br>
        <p>3.Enable api request to yes for specified duration</p><br>
    </div>
    <div class="card">
      
        <p>Step 2</p><br>
        <p>1.You will get an sms including one link from finagg</p><br>
        <p>2.Go to my profile</p><br>
        <p>2.Then go to Manage API Access on the left side menu</p><br>
        <p>3.Enable api request to yes for specified duration</p><br>
    </div>

