<div class="fin-row mt-20" *ngIf="!view">
    <div class="fin-card">

        <div class="table-responsive mt-10">
            <table class="table  table-bordered table-striped fin-table-blue table-hover">
                <thead>
                    <tr>
                        <th style="border-bottom:0px none; width: 200px;"><input type="text" class="form-control"
                                placeholder="Start Searching..." [(ngModel)]="searchList" autocomplete="off"></th>
                        <th  style="text-align: center;">Ledger Name</th>
                        <th  style="text-align: center;">Account No.</th>
                        <th style="text-align: center;">Balance</th>
                        <th  style="text-align: center;">In Queue</th>
                        <th  style="text-align: center;">Net Balance</th>
                        <th  style="text-align: center;">#</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let a of escrowbankList | filter:searchList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                        (click)="rowset(a)">
                        <td><input type="radio" [value]="a.accountNo" [(ngModel)]="escrowAccountNo"
                                (change)="seteaId(a)" /></td>
                        <td>{{a.ledgerName}}</td>
                        <td>{{a.accountNo}}</td>
                        <td align="right">{{indianCurrency(a.balance)}}</td>
                        <td align="right">{{indianCurrency(a.inQueue)}}</td>
                        <td align="right">{{indianCurrency(a.netBalance)}}</td>
                        <td align="right"> <div>
                            <button class="btn btn-success" (click)=" lenderDisbursal(disburseCalc,a.lenderId)"
                                style="margin-left: 10px">Action</button>
            
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>



        <div class="row mt-4">
            <div class="col">
                <span class="san">Selected Account Number</span> - {{escrowAccountNo}}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3">
                Filter By
            </div>
            <div class="col-3">
                <input type="radio" name="filterby" value="d" [(ngModel)]="filter" (change)="setFromTo()" /> Date
            </div>
            <div class="col-3">
                <input type="radio" name="filterby" value="m" [(ngModel)]="filter" (change)="setFromTo()" /> Month
            </div>
            <div class="col-3">
                <input type="radio" name="filterby" value="6" [(ngModel)]="filter" (change)="setFromTo()" /> Last 6
                Months
            </div>
        </div>

        <div class="filter mt-4" *ngIf="filter == 'd'">
            <table>
                <tr>
                    <td>FROM</td>
                    <td><input type="date" class="form-control" [(ngModel)]="fromDate" [max]="today"
                            (keypress)="preventTyping()" /></td>
                </tr>
                <tr>
                    <td>TO</td>
                    <td><input type="date" class="form-control" [(ngModel)]="toDate" [max]="today"
                            (keypress)="preventTyping()" /></td>
                </tr>
            </table>
        </div>

        <div class="filter mt-4" *ngIf="filter == 'm'">
            <table>
                <tr>
                    <td>MONTH</td>
                    <td><input type="month" class="form-control" [(ngModel)]="month" [max]="currentMonth" /></td>
                </tr>
            </table>
        </div>

        <div class="recon-button">

            <div class="mt-4 out-buttons">
                <span class="out-button " id="v1" (click)="output(1)"><i class="far fa-eye fa-fw"
                        style="color: skyblue;"></i></span>
                <span class="out-button " id="v2" (click)="output(2)"><i class="far fa-file-pdf fa-fw"
                        style="color: red;"></i></span>
                <span class="out-button " id="v3" (click)="output(3)"><i class="far fa-file-excel fa-fw"
                        style="color: green;"></i></span>
            </div>

            <div class="row-form mt-4 out-buttons">
                <div class="form__group field">
                    <select [(ngModel)]="statementType" placeholder="Choose Statement type" class="form-select"
                        id="statementType" name="statementType">
                        <option [value]="0">Escrow Statement</option>
                        <option [value]="1">Ledger Statement</option>
                    </select>
                    <label for="ssd" class="form__label">Statement type</label>
                </div>
            </div>
            <div class="fin-bottom-btn mt-4"><button type="button" class="btn btn-success fin-btn"
                    (click)="submit()">Get Bank Statement</button></div>
           
        </div>

    </div>
</div>

<div class="fin-row mt-20" *ngIf="view">
    <div class="fin-card">

        <div class="row">
            <div class="col-4">
                <i class="fas fa-arrow-alt-circle-left" (click)="viewback()" style="color: red;"></i><span
                    class="text-center" style="margin-left: 10px;">BANK Statement for {{result.accountNo}}</span>
            </div>
            <div class="col-4">
                <input type="text" placeholder="Start Searching..." [(ngModel)]="banklistSearch" autocomplete="off"
                    class="search-box">
            </div>
            <div class="col-4 font-weight-bold">
                Available Balance : {{indianCurrency(availableBalance)}}
            </div>
        </div>

        <div class="table-responsive mt-10">
            <table class="table fin-table-blue">
                <thead class="medium-font">
                    <tr>
                        <th rowspan="2">Ref No.</th>
                        <th colspan="2" style="text-align: center;">Date</th>
                        <th rowspan="2">Narration</th>
                        <th rowspan="2">Description</th>
                        <th rowspan="2">UTR No.</th>
                        <th rowspan="2">Debit</th>
                        <th rowspan="2">Credit</th>
                        <th rowspan="2">Balance</th>

                    </tr>
                    <tr>
                        <th>Payment</th>
                        <th>Transaction</th>
                    </tr>
                </thead>
                <tbody class="small-font">
                    <tr *ngIf="statementList.length == 0">
                        <td colspan="9" style="color: red; text-align: center;">No Data Available</td>
                    </tr>
                    <tr
                        *ngFor="let a of statementList | filter:banklistSearch | paginate: { itemsPerPage: 30, currentPage: q };let i = index">
                        <td>{{a.transactionRefNo}}</td>
                        <td>{{a.paymentDate}}</td>
                        <td>{{a.transactionDateTime}}</td>
                        <td>{{a.narrative}}</td>
                        <td>{{a.description}}</td>
                        <td>{{a.utrNo}}</td>
                        <td style="color: red; text-align: right;">{{indianCurrency(a.debit)}}</td>
                        <td style="color: green; text-align: right;">{{indianCurrency(a.credit)}}</td>
                        <td style="color: blue; text-align: right;">{{indianCurrency(a.runningBalance)}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="q = $event"></pagination-controls>
        </div>

    </div>
</div>
<ng-template #disburseCalc let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"><b>Lender Disbursement Money Calculation</b></h5>
        <!-- <h4 style="color: red; margin-left: 10px;">{{errormsg}}</h4> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="false">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <span *ngIf="errorMsg!=''" style="color: red;">{{errorMsg}}</span>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Outstanding-Principle</th>
                    <th>Outstanding-Interest</th>
                    <th>Total Outstanding-Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{lenderDisbMoneyCalculation.outstandingPrinciple}}</td>
                        <td>{{lenderDisbMoneyCalculation.outstandingInterest}}</td>
                        <td>{{lenderDisbMoneyCalculation.outstandingAmount}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered">
                <thead>

                    <th>Previous Day Amount</th>
                    <th>Today Amount</th>
                    <th>Total Amount</th>
                </thead>
                <tbody>
                    <tr>

                        <td>{{lenderUntransferDetails.untransferedAmountPreviousDay}}</td>
                        <td>{{lenderUntransferDetails.untransferedAmountToday}}</td>
                        <td>{{lenderUntransferDetails.untransferedAmountTotal}}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <font style="color: red;">*</font><b>AUM=Assests Under Management</b>
            </p>
            <p>
                <font style="color: red;">*</font><b>Monthly Limit=(AUM+Fund Requested)-Untransfered Collection</b>
            </p>
        </div>
        <table class="table table-striped table-bordered">
            <thead style="width: 200%;">
                <th>AUM</th>
                <th>Fund Requested</th>
                <th>Untransfered Collection</th>
                <th>monthly Limit</th>
            </thead>
            <tbody>
                <tr>
                    <td><select class="form-control" name="aum" id="aum" (change)="aumCheck(AUM)" [(ngModel)]="AUM">
                            <!-- <option selected [value]="0"> select the AUM</option> -->
                            <option [value]="1">Outstanding-Principle</option>
                            <option [value]="2">Outstanding-Interest</option>
                            <option [value]="3">Outstanding-Amount</option>
                        </select>
                        &nbsp;
                        <input type="text" (keypress)="keyPress($event)" name="aumAmount" class="form-control"
                            [(ngModel)]="aumAmount" readonly>
                    </td>
                    <td style="padding-top: 72px;"><input type="text" [(ngModel)]="fundRequest" class="form-control"
                            (ngModelChange)="ugroCheck()" />
                    </td>
                    <td>
                        <select class="form-control" name="untransferAmount" id="untransferAmount"
                            (change)="dayCheck(untransferAmount)" [(ngModel)]="untransferAmount">
                            <!-- <option selected [value]="0"> select the Amount</option> -->
                            <option [value]="1" selected>Previous Day Amount</option>
                            <option [value]="2">Today Amount</option>
                            <option [value]="3">Total Amount</option>
                        </select>
                        &nbsp;
                        <input type="text" [(ngModel)]="collectionLimit" class="form-control"
                            (keypress)="preventTyping()" readonly />
                    </td>
                    <td style="padding-top: 72px;">
                        <input type="text" [(ngModel)]="ugroLimit" class="form-control"
                            (ngModelChange)="fundingCheck()" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>