<div class="utility" cdkDrag>
    <div class="row" *ngIf="searchbox">
        <div class="search-hero col-10">
            <div class="row">
                <div class="col-8">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchList" autocomplete="off"
                        placeholder="&#61442;  Start searching " (ngModelChange)="p=1;">
                </div>
                <div class="col-4"><button class="btn btn-primary" (click)="searchpopup(search)"
                        style="font-size: 10px;">Advance
                        Search</button></div>
            </div>
        </div>
        <i class="fa fa-window-minimize col-1" aria-hidden="true" (click)="utility(1)" style="color: red;"></i>
    </div>
    <div class="row" (click)="utility(0)" *ngIf="!searchbox">
        <div class="col-12"><i class="fa fa-search" aria-hidden="true" style="color: #1fad3c;"></i>&nbsp;Search
        </div>
        <!-- <i class="fa fa-window-maximize col-1" aria-hidden="true" (click)="utility(0)" style="color: #1fad3c;"></i> -->
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <!-- <div class="row">
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchList" autocomplete="off"
                        placeholder="&#61442;  Start searching " (ngModelChange)="p=1;">
                        <br>
                    </div>
                </div> -->
                <div class="row">
                    <table class="table table-striped" style="font-size: 14px !important">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th title="Organization Name">Org. Name</th>
                                <th>GST No</th>
                                <th>User Name</th>
                                <th title="Last 3B filing Date">3B Date</th>
                                <th title="Last R1 filing Date">R1 Date</th>
                                <th title="GSP Token Expiring Time">Exp. Time</th>
                                <th title="Data Collection Status">Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let g of gstCredentialList | filter:searchList | paginate: { itemsPerPage: p1, currentPage: p };let j=index">
                                <td>{{((p-1)*p1)+j+1}}</td>
                                <td>{{g.orgName}}</td>
                                <td>{{g.gstNo}}</td>
                                <td>{{g.userName}}</td>
                                <td>
                                    <div style="width: 80px;">
                                        {{g.gst3bFillingDate}}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 80px;">
                                        {{g.gstr1FillingDate}}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 80px;">
                                        {{g.expireTime}}
                                    </div>
                                </td>
                                <td>{{g.dataProcessed}}</td>
                                <td>
                                    <div style="width : 120px;margin-bottom: 3px;">
                                        <button class="btn btn-act" style="font-size: 13px !important;"
                                            (click)="action(actiontab,g)">ACTION</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event" ></pagination-controls>
            </div>
        </div>
    </div>
</div>


<ng-template #actiontab let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Action</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="color: red;">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row text-center">
            <div class="col">
                GST Number - <span style="font-weight: 800;">{{gst.gstNo}}</span>
            </div>
        </div>

        <div class="row justify-content-center mt-3" style="width: 100%;" *ngIf="!pass">
            <div class="col-3">UserName</div>
            <div class="col-3">
                <input type="text" [(ngModel)]="gst.userName" />
            </div>
        </div>

        <div class="row text-center mt-1">
            <div class="col-12" style="color: red;">{{actionMessage}}</div>
        </div>
        <!-- <div class="row justify-content-center mt-3" style="width: 100%;" *ngIf="gst.conditions=='1' && !pass">
            <div class="col-3">
                <button class="btn btn-ret" (click)="retrigger(gst.orgGstId,gst.orgId)"
                    style="font-size: 13px !important;">Retrigger OTP</button>
            </div>
        </div> -->

        <div class="row justify-content-end mt-3"  *ngIf="gst.conditions=='0' && !pass">
            <div class="col-3" *ngIf="gst.conditions=='1' && !pass">
                <button class="btn btn-ret" (click)="retrigger(gst.orgGstId,gst.orgId)"
                    style="font-size: 13px !important;">Retrigger OTP</button>
            </div>
            <div class="col-3" *ngIf="gst.conditions=='0' && !pass">
                <button class="btn btn-ret" (click)="requestOtp(gst.userName,gst.gstNo,gst.orgGstId,gst.orgId)"
                    style="font-size: 13px !important;">Request OTP</button>
            </div>
            <div class="col-3" *ngIf="!pass&&gstpassword">
                <button class="btn btn-pas" style="font-size: 13px !important;" (click)="passbox()">Enter PASSWORD</button>
            </div>
            <div class="col-3" *ngIf="!pass">
                <button class="btn btn-send" style="font-size: 13px !important;" (click)="send()">Send Link</button>
            </div>
        </div>

        <!-- <div class="row justify-content-center mt-3" style="width: 100%;" *ngIf="!pass">
            <div class="col-3">
                <button class="btn btn-pas" style="font-size: 13px !important;" (click)="passbox()">Enter PASSWORD</button>
            </div>
        </div> -->

        <div class="row text-center p-5" *ngIf="pass">
            <input class="form-control text-center col-6" placeholder="password" [type]="!visible ? 'password' : 'text'" (ngModelChange)="empPass=false;" [(ngModel)]="passcode">
            <i class="fa fa-eye icon position-absolute p-10" aria-hidden="true" *ngIf="!visible"
                (click)="passvis()"></i>
            <i class="fa fa-eye-slash position-absolute p-10" aria-hidden="true" *ngIf="visible"
                (click)="passvis()"></i>
            <div class="col-3">
                <button class="btn btn-pas" style="font-size: 13px !important;" (click)="password()">Submit</button>
            </div>
        </div>

        <div class="row text-center" *ngIf="pass && empPass">
            <div class="col" style="color: red;">
                Enter password!
            </div>
        </div>
    </div>
</ng-template>