<div class="card" style="margin-top:50px">
    <div class="card-mb-5" style=" height: 450px;">
        <div class="col" style="text-align: center;  font-size: 25px;">
            <img src="assets/images/login-logo.png" alt="user" width="150" height="100" style="margin-top: 20px;"> 
            
        </div>
    <!-- </div>
    </div><div class="card" >
            
        <div class="card-mb-5" style="background-color:white; color:black; height: 310px;"> -->
           
            <div class="col" style="text-align: center;  font-size: 20px; margin-top: 25px;">
                <img src="assets/images/thank_you.png" alt="user" width="150" height="100" style="margin-top: 20px;">
                <h1>THANK YOU</h1>
            <p>Send your documents to</p> 
            <p style="font-size: 15px;">Email id:hello@finagg.in</p>
            <p style="font-size: 15px;">Subject: Document ReferenceID:{{referenceid}}</p>
            
            </div>

        </div>
        <button  
        style="height: 30px ;width:150px; font-size: 13px;  align-self: center; margin-bottom: 10px; background-color: green; color: white;"
        (click)="goforward()"*ngIf="view">VIEW LEADS</button>
        </div>
