<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <div class="row text-center">
                    <div class="col">
                        <img src="assets/images/finagg-logo.png" (click)="url()" height="291" width="385"/>
                    </div>
                </div>

                <div class="row text-center mt-3">
                    <div class="col">
                        If page isn't redirected to Partner site in {{timer}} seconds, Click above Image.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>