table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 0;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555; 
}
.md-stepper-horizontal {
  display:table;
  width:100%;
  margin:0 auto;
  background-color:#FFFFFF;
  box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
  display:table-cell;
  position:relative;
  padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:fail,
.md-stepper-horizontal .md-step:pending,
.md-stepper-horizontal .md-step:active {
  background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:fail {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:pending {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:first-child:pending {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:pending {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:first-child:fail {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:fail {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color:red;
}
.md-stepper-horizontal .md-step:pending .md-step-circle {
  background-color:#e5ff00;
}
.md-stepper-horizontal .md-step:fail .md-step-circle {
  background-color:#ff0000;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
  width:30px;
  height:30px;
  margin:0 auto;
  background-color:#999999;
  border-radius: 50%;
  text-align: center;
  line-height:30px;
  font-size: 16px;
  font-weight: 600;
  color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color:#fcba04;
}
.md-stepper-horizontal.green .md-step.pending .md-step-circle {
  background-color:#fcd704;
}
.md-stepper-horizontal.green .md-step.fail .md-step-circle {
  background-color:#fc0404;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family:'FontAwesome';
  font-weight:100;
  content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle *,
.md-stepper-horizontal .md-step.skip .md-step-circle *,
.md-stepper-horizontal .md-step.closed .md-step-circle *,
.md-stepper-horizontal .md-step.failled .md-step-circle *{
  display:none;
}
.md-stepper-horizontal .md-step.editable  .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.failled  .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.closed  .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.skip  .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable  .md-step-circle:before {
  font-family:'FontAwesome';
  font-weight:100;
  content: "\f040";
}
.md-stepper-horizontal .md-step.failled  .md-step-circle:before {
  font-family:'FontAwesome';
  font-weight:100;
  content: "\f071";
}
.md-stepper-horizontal .md-step.closed  .md-step-circle:before {
  font-family:'FontAwesome';
  font-weight:100;
  content: "\f00d";
}
.md-stepper-horizontal .md-step.skip  .md-step-circle:before {
  font-family:'FontAwesome';
  font-weight:100;
  content: "\f06a";
}
.md-stepper-horizontal .md-step .md-step-title {
  margin-top:16px;
  font-size:16px;
  font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  /* color:rgba(0,0,0,.26); */
  color: red;
}
.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable 
.md-step.active.failled .md-step.closed 
.md-step.active.skip .md-step-title {
  font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
  font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
  color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position:absolute;
  top:36px;
  height:1px;
  border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
  right:0;
  left:50%;
  margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
  left:0;
  right:50%;
  margin-right:20px;
}



.md-stepper-horizontal .md-step .md-step-circle {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  /* background-color: #999999; */
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}


  .md-stepper-horizontal .md-step .md-step-title {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  }

  .md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 16px;
}

.fin-btn {
	color: #fff !important;
	box-shadow: 0 3px #999;
}

.btn-info {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
	border-radius: 0.25rem;
}

.action-slide-button {
  position: fixed;
  top: 130px;
  right: 44%;
  z-index: 999;
}

.action-slide {
  position: fixed;
  top: 20%;
  right: 0%;
  background-color: #fff;
  /* width: 90%; */
  z-index: 999;
  border-radius: 15px;
  /* opacity: 0.1; */
  border: 3px solid #1fad3c;
  font-size: 12px;
  padding: 10px;
}
.fa-file-excel-o{
  font-size: 25px;
  color: green;
  margin-bottom: 3px;
}

.fa-file-pdf-o {
  font-size: 25px;
  color: red;
}
/* width */

.action-slide::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


/* Track */

.action-slide::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

.action-slide::-webkit-scrollbar-thumb {
  background: skyblue;
}


/* Handle on hover */

.action-slide::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}