<div class="lg-body">
    <div class="login-container">
        <div class="login-section">
            <div class="login-card-left" style="text-align: center;">
                <div class="welcome-text">
                    <div class="welcome-text1"><span>{{lenderName}}</span></div>
                    <div class="welcome-text2">One Stop Solution for entire Value Chain</div>
                </div>
            </div>
            <div class="login-card-right">
                <div class="portal-login">
                  
                    <div class="login-heading">SIGN IN</div>
                    <div class="login-form">
                        <div class="login-form-input" style="margin-bottom: 10px;"><span><i class="fa fa-user"></i></span><input type="text" value="" name="userName" id="userName" placeholder="Username" class="top-radius" [(ngModel)]="login.userName" (keyup)="enterKey($event)" ></div>
                        <div class="login-form-input"><span><i class="fa fa-key"></i></span><input type="password" value="" name="password" id="password" placeholder="Password" class="bottom-radius" [(ngModel)]="login.password" (keyup)="enterKey($event)" ></div>

                 
                        <br>
                       
                        <div style="margin-left: 10px;" >
                              <!-- <div id="recaptcha" class="g-recaptcha" [(ngModel)]="captchaValue" data-sitekey="siteKey"></div> -->
                              <span class="captcha" style="font-size: 23px;color: black;">Captcha:</span><label id="captchaValue" name="captchaValue" style="margin-left: 15px;font-size: 18px;color: black;">{{second}} + {{secondone}}</label>  = <input type="text"  (keypress)="keyPress($event)"  maxlength="3" [(ngModel)]="captcha"  style="width:50px;font-size: 18px;">

                              <!-- <div *ngIf="captchaIssues" class="error">This field is required.</div> -->
                            <!-- <p>Enter the captcha</p><label id="captchaValue" name="captchaValue" style="margin-left: 15px;">{{second}} + {{secondone}}</label>  = <input type="text" [(ngModel)]="captcha"  style="width:35px;">
                            </div> -->
                            <div class="error-msg login-form-input">{{errorsg}}</div>
                        <div class="login-form-btn"><button type="submit" value="" (click)="onLoggedin()">LOGIN</button></div>
                       
                    </div>
                 
                </div>               
                <div style="margin-top: 110px; margin-left: 45px;" >&copy; {{lenderName}}. All rights reserved.</div>
            </div>
        
        </div>
      
    </div>
</div>



<!-- Modal for forgot password-->
<ng-template #forgotpassword let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true" style="color: red;">×</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="login-form">
            <div class="login-form-input"><span><i class="fa fa-user"></i></span><input type="text" value="" placeholder="Username" class="top-radius"></div>
            <div class="login-form-input"><span><i class="fa fa-key"></i></span><input type="email" value="" placeholder="E-mail Address" class="bottom-radius"></div>

            <div class="login-form-btn"><button type="submit" value="" [disabled]="userblock">Submit</button></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
          close
      </button>
    </div>
</ng-template>