<div class="row">
  <!-- column -->
  <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Master Program List</h2>
    </div>
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchMasterList" autocomplete="off" placeholder="&#61442;  Start searching " (ngModelChange)="p=1;">
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Master Program Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Limit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let master of master | filter:searchMasterList | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{master.masterName}}</td>
            <td>{{master.startDate | date:'dd-MM-yyyy'}}</td>
            <td>{{master.endDate | date:'dd-MM-yyyy'}}</td>
            <td>{{indianCurrency(master.totalLimit)}}</td>
            <td>
              <button (click)="updateMaster(master.masterId)" class="btn" style="margin-left: 10px" *ngIf="!readRole"><i class="fa fa-edit fa-2x" style="color: #1fc1f7;" title="Update"></i></button>
              <button (click)="masterDetails(master.masterId)" class="btn" style="margin-left: 10px"><i class="fa fa fa-eye fa-2x" style="color: #1fad3c;" title="View"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="masterAdd()" class="btn btn-success" *ngIf="!readRole">Add</button>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
</div>
</div>