<!-- <div class="body">
<div class="wrapper">
    <div class="page">
        <div class="page-content">
            <div class="page-content-inside">
                <div class="page-title-head">FinAGG - Fund Blocking </div>
                <div class="welcome-note">ABC Kirana</div>
                <div class="card mt-10">
                    <div class="green-box-pat clearfix">
                        <div class="icon-cash-back"><i class="fas fa-check-circle tick-green"></i></div>
                        <div class="amount-text">
                            <div class="amount-text1">FinAGG Avaialable Limit</div>
                            <div class="amount-final">&#8377; 10000000.00</div>
                            <!--<div class="amount-text1">( Last update on 16/06/2021 )</div>-->
                        <!-- </div>
                    </div>
                </div> -->
                
                <!-- <div class="card1 mt-20">
                    <form (ngSubmit)="submit()">
                    <div class="green-box-pat1 clearfix">
                        <div class="amount-features"><span class="amount-text1">Order/Invoice  No</span> <span class="pull-right-amount"><input type="text" value="" placeholder="12345" class="funding-text-box"></span></div>
                    </div>
                    <div class="green-box-pat1 clearfix">
                        <div class="amount-features"><span class="amount-text1">Order Date</span> <span class="pull-right-amount"><input type="text" value="" placeholder="28/06/2021" class="funding-text-box"></span></div>
                    </div>
                    <div class="green-box-pat1 clearfix">
                        <div class="amount-features"><span class="amount-text1">Order Amount</span> <span class="pull-right-amount"><input type="text" value="" placeholder="&#8377; 1000.00" class="funding-text-box"></span></div>
                    </div>
                    <div class="green-box-pat1 clearfix">
                        <div class="amount-features"><span class="amount-text1">Fund Amount</span> <span class="pull-right-amount"><input type="text" value="" placeholder="&#8377;  500.00" class="funding-text-box"></span></div>
                    </div>
                    <div class="green-box-pat1 clearfix">
                        <div class="amount-features"><span class="amount-text1">Beneficary</span> <span class="pull-right-amount"> 
                            <select class="funding-text-box">
                                <option>India Ltd</option>
                                <option>Kirna Stores</option>
                            </select>
                        
                        </span>
                    </div> -->
                <!-- </div>
                <div class="funding-sub-heading mt-20">Upload DOC</div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control new-text-input" placeholder="browse" value="browse" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary new-button" type="button">Upload</button>
                  </div>
                </div>
                <div class="btn-row mt-20"><a href="#" class="btn btn-primary w-100 btn-green">Generate OTP</a></div>
                
            </form>
                <div class="footer-help mt-20">
                    <a href="#" class="help-text"><i class="fa fa-question-circle"></i> Need Help</a>
                    <a href="#" class="help-text"><i class="fa fa-sign-in"></i> How to Disbusrement</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- </div> --> 