
.page-content-inside {
	padding:0px;
}

.page-title-head {
	text-align:center;
	color:#fff;
	font-size:17px;
	font-weight:700;
}

.welcome-note {
	color:#000;
	margin-top:5px;
	font-weight:600;
}

.green-box-pat {
	background-color:#eefbee;
	border-left:5px solid #28b34b;
	padding:10px;
}

.amount-text1 {
	font-size:13px;
	color:#9a9a9a;
	font-weight:500;
}

.amount-final {
	font-size:18px;
	color:#000;
	font-weight:700;
	
}

.icon-cash-back {
	float:left;
	display:block;
	margin-right:10px;
}

.amount-features {
	font-size:17px;
	color:#000;
	font-weight:bold;
}

.pull-right-amount {
	float:right;
}
.pull-right-amount_one
{
	float:right;
	margin-right: 150px;
	width:90px
}
.green-box-pat1 {
	border-bottom:1px solid #28b34b;
	padding-bottom:5px;
	padding-top:5px;
}

.cash-back-table tr th {
	font-size:12px;
	color:#606660;
	font-weight:400;
}

.cash-back-table tr td {
	font-size:13px;
}

.funding-text-box {
	width:150px;
	border:1px solid #28b34b;
	text-align:right;
}

.tick-green {
	font-size:30px;
	color:#28b34b;
	margin-top:10px;
}

.footer-help {
	width:170px;
	margin-left:auto;
	margin-right:auto;
}
.page {
    width: 100%;
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
.page-content {
    padding: 30px;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.card {
	border:0px none;
	border-radius:3px !important;
	padding:15px;
	border-radius:2px;
	box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

.card1 {
	border:0px none;
	border-radius:3px !important;
	padding:15px;
	border-radius:2px;
	background-color:#eefbee;
	box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}


.page-title-head {
	text-align:center;
	color:#fff;
	font-size:17px;
	font-weight:700;
}

.footer-help {
	width:170px;
	margin-left:auto;
	margin-right:auto;
}

.help-text {
	color:#28b34b;
	text-decoration:none;
	display:block;
}

.help-text i {
	color:#000;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: block;
	transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.funding-text-box {
	width:150px;
	border:1px solid #28b34b;
	text-align:right;
}

.body {
	background: linear-gradient(180deg, #28b34b 30%, #f7f7f7 30%);
}
.new-text-input {
	font-size:14px;
	font-weight:600;
	color:#000;
}
.new-button {
	background-color:#111111;
	border-radius:0px 5px 5px 0px; 
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	border:1px solid #1e7233 !important;
	font-size:14px;
}
.footer-help {
	width:170px;
	margin-left:auto;
	margin-right:auto;
}
.mt-20 {
	margin-top:20px;
}
.otp-textbox {
	display:inline-block !important;
	width:14%;
	margin-left:2px;
	margin-right:2px;
	padding-left:0px !important;
	padding-right:0px !important;
	text-align:center;
}
.label-text-bold {
	font-weight:bold;
	font-size:15px !important;
	display:block;
}
.form-group {
    margin-bottom: 0.1rem;
  }
  .pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.auth .lock-profile-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
  
  .auth .auth-form-light {
    background: #ffffff;
  }
  
  .auth .auth-form-light select {
    color: #c9c8c8;
  }
  
  .auth .auth-form-light .input-group .form-control:focus, .auth .auth-form-light .input-group .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-light .input-group select:focus, .auth .auth-form-light .input-group .form-control:active, .auth .auth-form-light .input-group .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-light .input-group select:active {
    border-color: #f3f3f3;
  }
  
  .auth .auth-form-transparent {
    background: transparent;
  }
  
  .auth .auth-form-transparent .form-control, .auth .auth-form-transparent .dataTables_wrapper select, .dataTables_wrapper .auth .auth-form-transparent select,
  .auth .auth-form-transparent .input-group-text {
    border-color: #686868;
  }
  
  .auth .auth-form-transparent .form-control:focus, .auth .auth-form-transparent .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-transparent select:focus, .auth .auth-form-transparent .form-control:active, .auth .auth-form-transparent .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-transparent select:active,
  .auth .auth-form-transparent .input-group-text:focus,
  .auth .auth-form-transparent .input-group-text:active {
    border-color: #686868;
  }
  
  .auth .auth-form-transparent select {
    outline-color: #686868;
  }
  
  .auth.auth-img-bg {
    padding: 0;
  }
  
  @media (min-width: 768px) {
    .auth.auth-img-bg .auth-form-transparent {
      width: 55%;
      margin: auto;
    }
  }
  
  .auth .brand-logo {
    margin-bottom: 1rem;
  }
  
  .auth .brand-logo img {
    width: 170px;
    margin:auto;
    text-align:center;
  }
  
  .auth form .form-group {
    margin-bottom: 1.5rem;
  }
  
  .auth form .form-group label {
    font-size: .8125rem;
  }
  
  .auth form .form-group .form-control, .auth form .form-group .dataTables_wrapper select, .dataTables_wrapper .auth form .form-group select {
    background: transparent;
    border-radius: 0;
    font-size: .9375rem;
  }
  
  .auth form .auth-form-btn {
    height: 50px;
    line-height: 1.5;
  }
  
  .auth form .auth-link {
    font-size: 0.875rem;
  }
  
  .auth form .auth-link:hover {
    color: initial;
  }
  .auth-link.text-black.pull-right {
	float:right;
	color:#dddddd;
}
.content-wrapper {
    background: #f3f3f3;
    padding: 2.1rem 1.04rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .scrollbar {
    /* float: left; */
    height: 200px;
    width: 100%;
    overflow: auto;
    color: #46a546;
    /* white-space: nowrap; */

    /* margin-bottom: 25px; */
    /* margin-top:10px; */
}
  