/* td 
{
    height: 50px; 
    width: 50px;
}
tr{
    width: 60%
} */
/* th {
    width: auto !important;
} */

table{table-layout:fixed;}
th{width:1px;white-space:nowrap;}

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  ::ng-deep .myCustomModalClass .modal-dialog { 
    max-width: 80%;
    width: 80%;
}
.fa-file-pdf-o{
  font-size: 50px;
  color: red;
}
.fa-file-excel-o{
  font-size: 50px;
  color: green;
}