
  <body class="innerpages" style="overflow:hidden;">
    <div class="wrapper">
		<div class="page">
			<div class="page-content">
				<div class="page-content-inside" style="height:700px;">
					<div class="page-title-head">FinAGG Order Invoice Disbursement</div>
					<div class="welcome-note">Welcome ! {{companyname}}</div>
					<h4 style="color: red;">{{errormsg}}</h4>
					<div class="card mt-10">
						<div class="green-box-pat clearfix">
							<div class="icon-cash-back fixed-height"><i class="fa fa-check-circle tick-green"></i></div>
							<div class="amount-text">
								<div class="amount-text1">FinAGG Available Limit</div>
								<div class="amount-final">{{availlimit}}</div>
							</div>
						</div>
					</div>
					<div class="grey-box-pat clearfix mt-30">
						<div class="icon-cash-back fixed-height"><i class="fa fa-check-circle tick-green"></i></div>
						<div class="amount-text">
							<div class="amount-text1">Order Reference Number</div>
							<div class="amount-final">{{ordernum}}#{{loanrequest}}</div>
						</div>
					</div>
					<div class="grey-box-pat clearfix mt-30">
						<div class="icon-cash-back fixed-height"><i class="fa fa-check-circle tick-green"></i></div>
						<div class="amount-text">
							<div class="amount-text1">Order Amount</div>
							<div class="amount-final"> {{orderamountnew}}</div>
						</div>
					</div>
					
					<div class="grey-box-pat clearfix mt-20">
						<div class="icon-cash-back fixed-height"><i class="fa fa-check-circle tick-green"></i></div>
						<div class="amount-text">
							<div class="amount-text1">Fund Amount</div>
							<div class="amount-final"> {{fundamountnew}}</div>
						</div>
					</div>
					
			
					<div class="form-group" style="margin-left: 80px;"> 
						<label class="label-text-bold" style="margin-left: 25px;">Enter OTP </label>	
						<input type="password" class="form-control otp-textbox" id="exampleInputEmail1" (keypress)="keyPress($event)" [(ngModel)]="otp1" [ngModelOptions]="{standalone: true}" maxlength="1">
						<input type="password" class="form-control otp-textbox" id="exampleInputEmail2" maxlength="1" (keypress)= "keyPress($event)" [(ngModel)]="otp2" [ngModelOptions]="{standalone: true}">
						<input type="password" class="form-control otp-textbox" id="exampleInputEmail3" maxlength="1" (keypress)="keyPress($event)" [(ngModel)]="otp3" [ngModelOptions]="{standalone: true}">
						<input type="password" class="form-control otp-textbox" id="exampleInputEmail4" maxlength="1" (keypress)="keyPress($event)" [(ngModel)]="otp4" [ngModelOptions]="{standalone: true}">
					  
					  </div>

					  <p class="text-center">{{maskedNo}}</p>
					  <div class="mt-2">
						<button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" style="background-color:#1fad3c;" (click)="verifyOTP()" >VERIFY</button>
					  </div>
					  <div class="mt-2">
                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" *ngIf="!resent"  style="background-color:#1fad3c; color: white;" (click)="generateOTP()" >Resend OTP</button>
					</div>
					<label *ngIf="resent">Resend OTP will be enabled in {{timer}} seconds</label>
					<div class="normal-text mt-10">
				
					</div>
					
				</div>
			</div>
		</div>
	</div>

  </body>