/*!
 * FinAgg Technologies
 * Copyright 2021 by www.finagg.in - by vinothsn
 * Licence must be purchased before use. Buy it before use in any project
*/

/* primary color #1fad3c
/* secondary color #007d32
/* base color #231f20

/*---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1fad3c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007d32;
}

.green {
	color:#1fad3c !important;
}

.red {
	color:#ff0000;
}

body {
    font-size: 15px;
    color: #000000;
	background-color:#f7f7f7;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 100%;
    display: block;
	transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.page {
    width: 100%;
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
.page-content {
    padding: 30px;
    position: relative;
}

.card {
	border:0px none;
	border-radius:3px !important;
	padding:15px;
	border-radius:2px;
	box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

.card1 {
	border:0px none;
	border-radius:3px !important;
	padding:15px;
	border-radius:2px;
	background-color:#eefbee;
	box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

.card3 {
	border:0px none;
	border-radius:3px !important;
	padding:5px;
	border-radius:2px;
	box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

h1 {
	font-size:20px;
}

h2 {
	font-size:17px;
}

h3 {
	font-size:15px;
}

h4 {
	font-size:14px;
}

.pt-10 {
	padding-top:10px;
}
.pt-20 {
	padding-top:20px;
}
.pt-30 {
	padding-top:30px;
}
.pt-40 {
	padding-top:40px;
}
.pt-50 {
	padding-top:50px;
}

.mt-10 {
	margin-top:10px;
}
.mt-20 {
	margin-top:20px;
}
.mt-30 {
	margin-top:30px;
}
.mt-40 {
	margin-top:40px;
}
.mt-50 {
	margin-top:50px;
}
.mt-60 {
	margin-top:60px;
}
.mt-70 {
	margin-top:70px;
}
.mt-80 {
	margin-top:80px;
}
.mt-90 {
	margin-top:90px;
}
.mt-100 {
	margin-top:100px;
}
.page-heading {
	font-weight:600;
	text-align:center;
	margin-top:10px;
}

.text-normal {
	font-size:15px;
}

.form-control:focus, .form-select:focus, .form-check-input:focus, .btn-primary:focus {
	border-color: #1fad3c;
	box-shadow: none;
	outline: 0 none;
}

.form-check-input:checked {
    background-color: #1fad3c;
    border-color: #1fad3c;
}

.btn {
	border-radius:3px;
}

.btn-green {
	background-color:#1fad3c;
	border:1px solid #1fad3c;
	font-weight:600;
	text-transform:uppercase;
}

.btn-black {
	background-color:#111111;
	border:1px solid #111111;
	font-weight:600;
	text-transform:uppercase;
}

.btn-grey {
	background-color:#4f4f4f;
	border:1px solid #4f4f4f;
	font-weight:600;
	text-transform:uppercase;
}

.btn-primary:active {
	background-color: #1fad3c;
    border-color: #1fad3c;
}

.btn-primary:hover {
	background-color: #007d32;
    border-color: #007d32;
}

/****** qr code ******/

.logo-mobile {
	text-align:center;
	margin-top:20px;
}

.upi-code {
	text-align:center;
	margin-bottom:10px;
}

.qr-code {
	height:200px;
}

.footer-bg {
	background-color:#1fad3c;
	border-radius:60% 60% 0 0;
	padding:25px;
	
}

.finagg-id {
	text-align:center;
	color:#fff;
	font-weight:600;
	margin-bottom:10px;
}

.page-content1 {
    padding: 0px;
    height: 100%;
    min-height: 100%;
    position: relative;
	text-align:center;
}

.new-button {
	background-color:#111111;
	border-radius:0px 5px 5px 0px; 
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	border:1px solid #1e7233 !important;
	font-size:14px;
}

.new-text-input {
	font-size:14px;
	font-weight:600;
	color:#000;
}

.gradient {
  width: 500px;
  height: 200px;
}

body.innerpages {
	background: linear-gradient(180deg, #28b34b 30%, #f7f7f7 30%);
}

.page-content-inside {
	padding:0px;
}

.page-title-head {
	text-align:center;
	color:#fff;
	font-size:17px;
	font-weight:700;
}

.welcome-note {
	color:#000;
	margin-top:5px;
	font-weight:600;
}

.green-box-pat {
	background-color:#eefbee;
	border-left:5px solid #28b34b;
	padding:10px;
	position:relative;
}

.amount-text1 {
	font-size:13px;
	color:#9a9a9a;
	font-weight:500;
}

.amount-text2 {
	font-size:13px;
	color:#9a9a9a;
	font-weight:500;
	margin-top:-8px;
}

.amount-final {
	font-size:18px;
	color:#000;
	font-weight:700;
	
}

.icon-cash-back {
	float:left;
	display:block;
	margin-right:10px;
}

.amount-features {
	font-size:17px;
	color:#000;
	font-weight:bold;
}

.pull-right-amount {
	float:right;
}

.green-box-pat1 {
	border-bottom:1px solid #28b34b;
	padding-bottom:5px;
	padding-top:5px;
}

.cash-back-table tr th {
	font-size:12px;
	color:#606660;
	font-weight:400;
}

.cash-back-table tr td {
	font-size:13px;
}

.funding-text-box {
	width:150px;
	border:1px solid #28b34b;
	text-align:right;
}

.tick-green {
	font-size:30px;
	color:#28b34b;
	margin-top:10px;
}

.footer-help {
	width:170px;
	margin-left:auto;
	margin-right:auto;
}

.help-text {
	color:#28b34b;
	text-decoration:none;
	display:block;
}

.help-text i {
	color:#000;
}

.fixed-height {
	height:50px;
}

.grey-box-pat {
	background-color:#f1f1f1;
	border-left:5px solid #bcbcbc;
	padding:10px;
	position:relative;
}

.tick-grey {
	color:#bcbcbc;
	font-size:30px;
	margin-top:10px;
}

.custom-radio {
	position:absolute;
	right:0;
	top:30px;
}

.custom-table tr td {
	color:#000;
	font-size:16px;
	font-weight:600;
	vertical-align:middle;
	line-height:20px;
	text-align:right;
}

.custom-table tr td.small-text {
	font-size:14px;
	color:#606660;
	font-weight:400;
	text-align:left;
}



div.bg-split:nth-of-type(odd) {
    background: #eefbee;
}
div.bg-split:nth-of-type(even) {
    background: #FFFFFF;
}

.custom-table tr td.small-text i {
	color:#28b34b;
	margin-right:10px;
}

.light-green-bg {
	background-color:#eefbee;
}

.form-check-label {
	font-weight:600;
}

.form-check-label span{
	font-weight:400;
	font-style:italic;
	font-size:13px;
	color:#28b34b;
}

.funding-sub-heading {
	font-weight:600;
}

.payment-icon img {
	width:32px;
	vertical-align:middle;
	margin-right:5px;
}

.payment-list tr td {
	padding-bottom:10px;
}

.payment-list tr td.block1 {
	padding-right:5px;
}

.payment-list tr td.block2 {
	padding-left:5px;
}

.two-btn {
	width:100%;
}

.two-btn tr td.block1 {
	padding-right:10px;
	width:50%;
}

.two-btn tr td.block2 {
	padding-left:10px;
	width:50%;
}


.payment-icon {
	width:100%;
	padding:5px;
	background-color:#defed7;
	font-weight:600;
	color:#000;
	display:block;
	text-decoration:none;
}

.payment-list tr td p {
	padding:0px;
	margin:0px;
	line-height:18px;
	text-align:center;
}

.custom-table1 tr td {
	font-weight:600;
	line-height:18px;
}

.footer-fixed {
	background-color:#1fad3c;
	border-radius:60% 60% 0 0;
	padding:25px;
	position:absolute;
	bottom:0;
	width:100%;
	height:200px;
}

.help-text1 {
	color:#fff;
	text-decoration:none;
	display:block;
}

.help-text1 i {
	color:#111111;
	margin-right:5px;
}

.move-top {
	margin-top:-40px;
}

.logo-seller {
	text-align:center;
	margin-top:60px;
}

.custom-input {
	position:relative;
	width:100%;
}

.custom-text-box {
	border-radius:3px;
	box-shadow:inset 0 0 5px 5px #e9e9e9;
	background: #fff;
	width:80%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	border:1px solid #9a9b9b;
}

.textbox-icon {
	position:absolute;
	color:#4c4c4c;
	font-size:24px;
	top:5px;
	padding-left:10px;
}

.custom-text-box:focus {
	outline:0;
	border:1px solid #28b34b;
}

.textbox-validate {
	position:absolute;
	font-size:24px;
	top:5px;
	padding-right:0px;
	right:40px;
	color:#28b34b;
}

h3.green span {
	color:#000;
	font-weight:bold;
}

.custom-text-box1 {
	border-radius:3px;
	box-shadow:inset 0 0 5px 5px #e9e9e9;
	background: #fff;
	width:40%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	border:1px solid #9a9b9b;
	font-size:30px;
	font-weight:600;
	letter-spacing: 14px;

}

.custom-text-box1:focus {
	outline:0;
	border:1px solid #28b34b;
}

.loan-detail p {
	line-height:18px;
	font-size:13px;
	color:#686868;
	padding:0px;
	margin:0px;
}

.loan-detail div {
	font-size:18px;
	font-weight:600;
}

.orange {
	color:#ff7800 !important;
}

.red {
	color:red !important;
}

.normal-text p span {
	font-weight:600;
}

.text-right {
	text-align:right;
}

.otp-table {
	width:100%
}

.otp-table tr td {
	padding-left:5px;
	padding-right:5px;
}

.otp-input {
	width:100%;
	padding:8px;
	text-align:center;
	font-size:20px;
	font-weight:600;
	color:#000;
	border:1px solid #a8a8a8;
}

.otp-input:focus {
	outline:0;
	border:1px solid #28b34b;
}

.form-row {
	margin-top:5px;
}

.form-control {
	border:1px solid #adadad;
	border-radius:3px;
	font-weight:600;
	box-shadow:inset 0 0 3px 3px #faf9f9;
}

.repayment-box {
	padding:15px;
	border-radius:3px;
	background-color:#28b34b;
	margin-top:20px;
}

.repayment-box table {
	width:100%;
}

.repayment-box table tr th {
	color:#000;
	font-size:16px;
	font-weight:600;
	padding-left:10px;
	padding-right:10px;
}

.repayment-box table tr td {
	color:#fff;
	font-size:20px;
	font-weight:600;
	padding-left:10px;
	padding-right:10px;
}

.green-box-pat5 {
	background-color:#eefbee;
	border:1px solid #28b34b;
	padding:10px;
	position:relative;
	border-radius:3px;
}

.icon-cash-back .fa.fa-cart-arrow-down {
	font-size:20px;
	color:#28b34b;
}

.select-text {
	font-size:18px;
	font-weight:600;
}

.custom-radio1 {
	position:absolute;
	right:0;
	top:10px;
}

.modal-header {
	padding: 0px 15px;
}

.modal-header h5 {
	font-size:18px !important;
}

.modal-body {
	padding-right:0px;
}

.modal-body-scrollable {
	list-style:none;
	padding:0px;
	margin:0px;
	width:100%;
	height:100px;
}

.modal-body-scrollable li {
	font-size:16px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
}

.uploaded-img {
	padding-top:10px;
	padding-bottom:10px;
	background-color:#f2f2f2;
}

.uploaded-img span {
	color:#28b34b;
	float:right;
	padding-right:10px;
}

.form-row label {
	line-height:18px;
	font-size:13px;
	color:#686868;
	padding:0px;
	margin:0px;
}

.invoice-detail-table {
	width:100%;
}

.invoice-detail-table tr td.heading {
	font-size:12px;
	color:#606660;
}

.invoice-detail-table tr td {
	padding:3px;
}

.table-bordered {
	border-color:#28b34b;
}

.icon-input {
	position:relative;
}

.icon-input span {
	position:absolute;
	right:10px;
	top:6px;
	font-size:18px;
	color:#1fad3c;
}

.disbursal-success {
	text-align:center;
}

.disbursal-success span {
	font-size:84px;
	color:#1fad3c;
	margin:auto;
}

.welcome-text {
	font-size:20px;
	font-weight:600;
	text-align:center;
}

.disbursal-text {
	text-align:center;
	font-size:17px;
	font-weight:600;
	color:#000;
}